<template>
  <div class="footer fixed z-50 bottom-0 left-0 right-0 bg-white h-84px rounded-t-lg shadow-tp">
    <div class="flex flex-col h-full justify-center text-center">
      <button class="theme-gradient rounded-xl mx-3 text-link-text-color h-40px">Kostenlos Registrieren</button>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>
