<template>
    <div class="header fixed z-50 top-0 left-0 right-0 bg-white h-67px rounded-b-lg shadow-btm">
      <div class="h-5px theme-gradient"></div>
      <div class="flex flex-col h-full justify-center items-end text-right pr-3">
        <a href="#" class="text-theme-green hover:underline w-1/4">Login</a>
      </div>
    </div>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>

</style>
