<template>
    <div class="relative z-0 py-16 overflow-x-hidden w-full">
        <table class="absolute border-collapse border-0 duration-300 transform"
                :class="{
                  'translate-x-3': activeTab == 0,
                  'final-active-tab': activeTab + 1 == tabs.length,
                  '-translate-x-12': activeTab == 1
                  }"
        >
          <tbody>
          <tr>
            <td class="p-0" v-for="(tab, index) of tabs" :key="index">
              <button class="w-160px h-40px border text-center font-bold"
                      :class="{
                          'rounded-tl-xl rounded-bl-xl': index == 0,
                          'rounded-tr-xl rounded-br-xl': index == tabs.length-1,
                          'bg-active-tab text-link-text-color border-active-tab': activeTab == index,
                          'text-theme-green border-border-gray': activeTab != index
                        }"
                      @click="tabClick(index)"
              >{{tab}}</button>
            </td>
          </tr>
          </tbody>
        </table>
      <div class="pb-16"></div>
      <div
        class="text-center"
        v-for="(tabItem, index) of tabsContent"
        :key="index"
        v-if="index == activeTab"
      >
        <h3 class="tab-h-grey text-2xl w-320px mx-auto text-center">{{tabItem.header}}</h3>
        <div
          v-for="(listItem, listindex) of tabItem.list"
          :key="'list' + index + '-' + listindex"

        >
          <div
            class="relative"
            :class="{
            'text-center py-12': listindex != 2,
            'text-right pt-6': listindex == 2,
            'banner-gradient': listindex == 1
          }"
          >
            <div class="rounded-full bg-bg-list-index bg-opacity-50 absolute z-0"
                 :class="{
                    'bottom-1 -left-12 h-208px w-208px': listindex == 0,
                    'top-1 -left-12 h-250px w-250px': listindex == 2,
                  }"
                 v-if="listindex != 1"
            ></div>
            <img v-if="listindex == 0" class="inline relative z-10" :src="require(`~/assets/${listItem.imgSrc}`)" alt=""/>
            <div class="text-left flex items-end relative z-10"
                 :class="{'-mt-12': listindex == 0}"
            >
              <span class="text-list-item-index list-item-index leading-none"
                    :class="{
                      'pl-6': listindex == 1,
                      'pl-12': listindex == 2
                    }"
              >{{listindex + 1}}.</span>
              <p class="text-list-item-index text-lg mb-2 pl-6 leading-5">{{listItem.title}}</p>
            </div>
            <img
              v-if="listindex != 0"
              class="inline relative z-10"
              :class="{'-mt-12': listindex == 1 && index == 1}"
              :src="require(`~/assets/${listItem.imgSrc}`)" alt=""/>
          </div>
        </div>
      </div>
    </div>
</template>

<script>

    export default {
      name: "TabsContent",
      data() {
        return {
          activeTab: 0,
          tabs: [
            'Arbeitnehmer',
            'Arbeitgeber',
            'Temporärbüro'
          ],
          tabsContent: [
            {
              header: 'Drei einfache Schritte zu deinem neuen Job',
              list: [
                {
                  title: 'Erstellen dein Lebenslauf',
                  imgSrc: 'images/list_item-1.svg'
                },
                {
                  title: 'Erstellen dein Lebenslauf',
                  imgSrc: 'images/list_item-12.svg'
                },
                {
                  title: 'Mit nur einem Klick bewerben',
                  imgSrc: 'images/list_item-13.svg'
                }
              ]
            },
            {
              header: 'Drei einfache Schritte zu deinem neuen Mitarbeiter',
              list: [
                {
                  title: 'Erstellen dein Unternehmensprofil',
                  imgSrc: 'images/list_item-1.svg'
                },
                {
                  title: 'Erstellen ein Jobinserat',
                  imgSrc: 'images/list_item-22.svg'
                },
                {
                  title: 'Wähle deinen neuen Mitarbeiter aus',
                  imgSrc: 'images/list_item-23.svg'
                }
              ]
            },
            {
              header: 'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
              list: [
                {
                  title: 'Erstellen dein Unternehmensprofil',
                  imgSrc: 'images/list_item-1.svg'
                },
                {
                  title: 'Erhalte Vermittlungs- angebot von Arbeitgeber',
                  imgSrc: 'images/list_item-32.svg'
                },
                {
                  title: 'Vermittlung nach Provision oder Stundenlohn',
                  imgSrc: 'images/list_item-33.svg'
                }
              ]
            }
          ]
        }
      },
      methods: {
        tabClick(el) {
          this.activeTab = el
        }
      }
    }
</script>

<style scoped>
.final-active-tab {
  transform: translateX(calc(-100%/3 + 2rem));
}
  .list-item-index {
    font-size: 130px;
  }
</style>
