<template>
    <div class="banner-gradient relative z-0 pb-10">
      <h2 class="text-center text-5xl text-h-grey py-5">Deine Job website</h2>
      <img src="~/assets/images/top-banner.svg" alt="">
    </div>
</template>

<script>
    export default {
        name: "TopBanner"
    }
</script>
