@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

htm,body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.theme-gradient {
  background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
}
.banner-gradient {
  background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
}
.header, .footer { background: #fff; }
