<template>
  <div>
    <Header/>
    <Footer/>
    <TopBanner/>
    <TabsContent/>
  </div>
</template>

<script>
export default {
}
</script>
<style>
  #__nuxt,#__layout {height: 100vh;}
  #__layout {
    padding-top: 67px;
    position: relative;
    overflow-y: auto;
  }
</style>
